.App {
  text-align: center;
}
 .app__form{
   padding: 20px;
   position: fixed;
   bottom: 0;
   z-index: 1;
   background-color: blanchedalmond;
   width: 100%;
   margin: 20px;
   opacity: 0.8 !important;
 }